@charset "UTF-8";

@font-face {
  font-family: 'Crimson Text';
  src:
    url('../fonts/crimson-bold.woff2') format('woff2'),
    url('../fonts/crimson-bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Crimson Text';
  src:
    url('../fonts/crimson-italic.woff2') format('woff2'),
    url('../fonts/crimson-italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Crimson Text';
  src:
    url('../fonts/crimson-bolditalic.woff2') format('woff2'),
    url('../fonts/crimson-bolditalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Crimson Text';
  src:
    url('../fonts/crimson-roman.woff2') format('woff2'),
    url('../fonts/crimson-roman.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

:root {
  --color-fg: #333;
  --width: min(66ch, 80vw);
  --border-width: 2px;
  --button-height: 3em;
  --color-bg: #fff;
  --color-gray: #e8e8e8;
  --color-anim: #333;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}


::selection {
  color: var(--color-bg);
  background-color: var(--color-fg);
}

body {
  font-family: "Crimson Text", Garamond, Georgia, Times, serif;
  color: var(--color-fg);
  background-color: var(--color-bg);
  quotes: '«\00A0' '\00A0»' "“" "”";
  letter-spacing: 0.01em;
  line-height: 1.6;
  width: 100%;
  margin: 0 auto;
  hyphens: auto;
  hyphenate-limit-chars: 6 3 3;
  hyphenate-limit-lines: 2;
  hyphenate-limit-last: always;
  hyphenate-limit-zone: 8%;
  font-size: 1.8rem;
}

@media (min-width: 18.75em) {
  /* 300px */
  body {
    /* Fluid typography
     * calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width]))); */
    font-size: calc(18px + (26 - 18) * ((100vw - 300px) / (1280 - 300)));
  }
}

@media screen and (min-width: 80em) {
  /* 1280 px */
  body {
    font-size: 2.6rem;
  }
}

/* Tapping delay off */
a,
area,
button,
input,
label,
select,
summary,
textarea,
[tabindex] {
  touch-action: manipulation;
}

.footnote-ref {
}
.footnote-ref:hover,
.footnote-ref:focus,
.footnote-ref:active {
  color: unset;
  background-color: unset;
  text-decoration: unset;
  outline: unset;
}
.footnote-ref sup {
  padding: 0.2em;
}
.footnote-ref sup:hover,
.footnote-ref sup:focus,
.footnote-ref sup:active {
  color: var(--color-bg);
  background-color: var(--color-fg);
  text-decoration: none;
  outline: none;
}

code {
  background: var(--color-gray);
  border-radius: 0;
  font-size: 1.5rem;
  margin: 0 .2rem;
  padding: .2rem .5rem;
  white-space: pre-wrap;
  /*ajout*/
  font-family: "Crimson Text", Garamond, Georgia, Times, serif;
}

pre {
  background: var(--color-gray);
  border-left: 0.3rem solid var(--color-fg);
  overflow-y: hidden;
  /*ajout*/
  overflow-x: auto;
  width: 80%;
  /* white-space: pre-wrap; */
  /* overflow-wrap: break-word; */
  /* width: 100%; */
  /* width: auto; */
}
pre > code {
  border-radius: 0;
  display: block;
  padding: 1rem 1.5rem;
  white-space: pre-wrap;
  /* word-break: break-all; */
  /*ajout*/
}

img {
  max-width: 100%;
}

video {
  max-width: 100%;
  width: 100%;
  outline: none;
}

figure {
  margin: 0;
  margin-bottom: 1.6em;
}

figcaption p {
  /* font-style: italic; */
  margin-top: 0;
  font-size: 1.5rem;
}

figure a {
  margin: 0 0;
  padding: 0 0;
  color: unset;
	font-style: normal;
  border-bottom: unset;
  height: 1.6em;
  text-indent: 0em;
}

figure a:hover, figure a:focus, figure a:active {
  background-color: unset;
  color: unset;
  text-decoration: unset;
}


em {
  font-style: italic;
}

p {
  margin: 0 0 1.6em;
}

.scshape {
  font-variant: small-caps;
}

p + p {
  /* text-indent: 1em; */
}

blockquote + p {
  /* text-indent: 1em; */
}

blockquote {
  /* text-indent: 1em; */
  font-style: italic;
  margin: 1em 2em;
}

p + h1, p + h2, p + h3 {
  margin-top: 1.6em;
}

h1, h2, h3 {
  letter-spacing: 0.01rem;
  margin: 0 0;
  line-height: 1.6;
  font-size: inherit;
  /* font-style: italic; */
  font-style: normal;
  font-weight: normal;
}

h2 {
  margin: 0 0;
}

h3 {
  margin: 0 0;
}

hr {
  display: block;
  height: 1px;
  width: 62%;
  border: 0;
  border-top: 1px solid var(--color-fg);
  margin: 1em auto;
  padding: 0;
}

ul {
  margin: 0;
  list-style: none;
  text-decoration: none;
  text-align: left;
  /* Avec les espaces insécables */
  /* text-indent: -1.15em; */
  /* padding-left: 2.15em; */
  /* sans les espaces insécables */
}

ol {
  list-style: decimal outside;
  margin-left: 2em;
}

li {
  line-height: 1.6;
  margin: 0;
  /* list-style: none; */
  /* font-variant: small-caps; */
  /* text-decoration: none; */
}

.alignement-centre {
  text-align: center;
}

.alignement-droite {
  text-align: right;
}

.italique {
  font-style: italic;
}

.pasdesautdeligne {
  margin-bottom: 0;
}

.sautdeligne {
  margin-bottom: 1.6em;
}

.sautdeligneaudessus {
  margin-top: 1.6em;
}

.noindent {
  text-indent: 0;
}

.footnotes {
  font-size: 0.8em;
  padding: 1em 1.6em;
}

.footnotes hr {
  display: block;
  height: 1px;
  width: 62%;
  border: 0;
  border-top: 1px solid var(--color-fg);
  margin: 3em auto 3em;
  padding: 0;
}

.footnotes li {
  padding: 0.8em 0;
}

.footnote-ref a[href^="#fn:"] {
  text-decoration: none;
  border-bottom: none;
  color: var(--color-anim);
	font-style: normal;
}

.footnote-ref a[href^="#fn:"]:hover,
.footnote-ref a[href^="#fn:"]:focus,
.footnote-ref a[href^="#fn:"]:active {
  color: var(--color-bg);
  background: var(--color-fg);
  text-decoration: none;
  outline: none;
}

.footnotes p:last-of-type {
  margin-bottom: 0em;
  display: inline;
}

.footnote-return {
  text-decoration: none;
  border-bottom: none;
  color: var(--color-anim);
	font-style: normal;
}

.footnote-ref {
	font-style: normal;
  margin-left: 0.1em;
  text-decoration: none;
  border-bottom: none;
}

.footnote-back {
	font-style: normal;
  margin-left: 0.1em;
  text-decoration: none;
  border-bottom: none;
}

.date {
  text-align: center;
  font-size: 1.0em;
}

/* Modifications spécifiques */


.titlepage {
  z-index: 100;
  position: fixed;
  top: 0;
  left: calc(calc(100% - var(--width)) / 2);
  /* border-left: var(--border-width) solid var(--color-fg); */
  width: var(--width);
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2em;
  background: var(--color-bg);
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);

  .title {
    margin: 0;
    text-align: center;
    font-size: 1.8em;
    display: block;
    z-index: 1;
  }

  .author {
    margin: 0;
    text-align: center;
    font-size: 1.5em;
    display: block;
  }

  .publisher {
    margin: 0;
    z-index: 1;
    font-size: 1.2em;
    display: block;
  }

}

.first {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  line-height: 1;
  font-size: 4em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.marquetypographique {
  display: block;
  width: 100%;
  max-width: 700px;
}

a {
  margin: 0 0;
  padding: 0 0;
  color: var(--color-fg);
  font-style: italic;
  text-decoration:none;
  outline: none;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
  text-decoration-thickness: 2px;
  text-decoration-line: line-through;
  text-decoration-color: var(--color-fg);
  text-decoration-style: solid;
}

a:focus,
a:active,
a:hover {
  background: var(--color-anim);
  color: var(--color-bg);
  text-decoration: unset;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.btn.none,
.menu__items.none,
.none,
.hide {
  display: none;
}

.btn.striked {
  background: linear-gradient(to top, transparent calc(50% - 1px), var(--color-fg) calc(50% - 1px), var(--color-fg) calc(50% + 1px), transparent calc(50% + 1px));
  /* text-decoration-line: line-through; */
  /* text-decoration-color: var(--color-fg); */
  /* text-decoration-style: solid; */
}

.btn {
  cursor: pointer;
  color: var(--color-fg);
  hyphens: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.05em 0 0;
  margin: 0;
  min-height: var(--button-height);
  transition: all 0.25s ease-in-out;

  span {
    margin: 0;
    padding: 0;
    font-size: 1.4em;
  }

  &:hover,
  &:active,
  &:focus {
    background: var(--color-anim);
    color: var(--color-bg);
  }
}

@media (min-width: 70em) {
  .btn {
    padding: 0.05em 1em 0;
    text-align: left;
    justify-content: flex-start;
  }
}

.antilivre {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}
.container {
  width: var(--width);
}

.content {
  padding: 0 1em 2em;
  background: var(--color-bg);
}

.interface {
  z-index: 10;
  margin: 0;
  position: fixed;
  top: 0;
  left: calc(calc(calc(100% - var(--width)) / 2) + var(--width));
  border-left: var(--border-width) solid var(--color-fg);
  width: calc(calc(100% - var(--width)) / 2);
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu__items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  .explication {
    z-index: 10;
    display: none;
    position: fixed;
    top: 100vh;
    top: calc(var(--vh, 1vh) * 100);
    transform: translateY(-100%);
    left: 0;
    background: var(--color-bg);
    border-top: var(--border-width) solid var(--color-fg);
    width: calc(calc(calc(100% - var(--width)) / 2) + var(--width));
    min-height: var(--button-height);
    margin: 0;
    padding: 0 1em;
    /* justify-content: flex-end; */
    padding-left: calc(1em + calc(calc(100% - var(--width)) / 2));
  }

  .btn {
    display: block;
    width: 100%;
    border-bottom: var(--border-width) solid var(--color-fg);

    &:hover,
    &:active,
    &:focus {
      + .explication {
        display: flex;
        align-items: center;
        span {
          animation: loadingFade 1s ease infinite;
        }
      }
    }
  }
}

@media (min-width: 70em) {
  .explication {
    justify-content: flex-end;
    padding-left: unset;
  }
}

.btn--info {
  display: block;
  width: 100%;
  border-top: var(--border-width) solid var(--color-fg);
}

.btn--menu {
  display: block;
  width: 100%;
  border-bottom: var(--border-width) solid var(--color-fg);
  height: 2em;
}

.content__text > p,
blockquote {
  position: relative;
  /* cursor: move; */
}

.border {
  cursor: move;
  position: absolute;
  display: block;
  height: 1.6em;

  &--top {
    top: 0;
    left: 0;
    width: 100%;
  }

  &--bottom {
    bottom: 0;
    left: 0;
    width: 100%;
  }
}


/* For pace.js */
.pace {
  pointer-events: none;
  user-select: none;
  z-index: 2000;
  position: fixed;
  margin: auto;
  top: 6em;
  left: 0;
  right: 0;
  bottom: 0;
  height: 10px;
  width: 200px;
  background: var(--color-fg);
  border: 1px solid var(--color-fg);
  overflow: hidden;
}

.pace .pace-progress {
  box-sizing: border-box;
  transform: translate3d(0, 0, 0);
  max-width: 200px;
  position: fixed;
  z-index: 3000;
  display: block;
  position: absolute;
  top: 0;
  right: 100%;
  height: 100%;
  width: 100%;
  background: var(--color-bg);
}

.pace.pace-inactive {
  display: none;
}

.loading {
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  opacity: 1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: all 1s ease-in-out 0.4s;
  background: var(--color-bg);
}

.loading p {
  position: absolute;
  font-size: 5em;
  color: var(--color-fg);
  margin: 0;
}
.loading p:nth-child(2) {
  font-size: 5em;
  animation: loadingFade 1s ease infinite;
}

.pace-done .loading {
  opacity: 0;
  z-index: -1;
}

@keyframes loadingFade {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
